---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout title={`${entry.data.title} - AstroBlog`}>
  <main>
    <section class="heading">
      <h1 class="text-gradient">{entry.data.title}</h1>
      <time class="text-muted" datetime={entry.data.date.toISOString()}
        >{entry.data.date.toDateString()}</time
      >
    </section>
    <section class="content">
      <Content />
    </section>
  </main>
</Layout>

<style>
  main {
    margin-inline: auto;
    padding: 1rem;
    width: min(100% - 2rem, 44rem);
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 4rem;
  }

  .heading {
    margin-bottom: 2rem;
  }
  h1 {
    font-size: calc(1.5rem + 3vw);
    font-weight: 700;
    line-height: 1;
    text-wrap: balance;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: justify;
  }
</style>
