:root {
  --light: 247, 242, 242;
  --dark: 19, 19, 25;

  --accent: 136, 58, 234;
  --accent-dark: 59, 20, 111;

  --secondary: 18, 194, 133;
  --secondary-dark: 20, 111, 81;

  --color-bg-rgb: var(--light);
  --color-bg: rgb(var(--color-bg-rgb));

  --color-text-rgb: var(--dark);
  --color-text: rgb(var(--color-text-rgb));

  --gradient-start-rgb: var(--accent);
  --gradient-end-rgb: var(--secondary);
  --gradient: linear-gradient(
    45deg,
    rgb(var(--gradient-start-rgb)) 30%,
    rgb(var(--gradient-end-rgb))
  );
}

[data-theme='dark'] {
  --color-text-rgb: var(--light);
  --color-bg-rgb: var(--dark);

  --gradient-start-rgb: var(--accent-dark);
  --gradient-end-rgb: var(--secondary-dark);
}

body {
  font-family: system-ui, sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
}

code {
  font-family: Menlo, Monaco, 'Lucida Console', 'Liberation Mono',
    'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace;
}
