.toggleWrapper {
  --color-toggle-bg: rgba(var(--dark), 0.8);
  --color-toggle-contrast: rgba(var(--light), 1);

  --padding: calc(var(--size) * 0.06);

  width: var(--size);
  height: calc(var(--size) / 2);
  position: relative;

  &:has(:checked) {
    --color-toggle-bg: rgba(var(--light), 0.9);
    --color-toggle-contrast: rgba(var(--dark), 1);
  }
}

.toggle {
  appearance: none;
  position: absolute;
  inset: 0;
  background-color: var(--color-toggle-bg);
  border-radius: var(--size);
  padding-block: var(--padding);
  outline: transparent solid calc(var(--size) * 0.04);
  outline-offset: calc(var(--size) * 0.04);
  cursor: pointer;

  &:focus-visible {
    outline-color: var(--color-toggle-bg);
  }

  &::after {
    content: '';
    display: block;
    width: 38%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-toggle-contrast);
    transform: translateX(var(--padding));
    transition: transform 140ms ease-out;
  }

  &:checked::after {
    transform: translateX(calc(var(--size) / 2 + var(--padding)));
  }
}

.icons {
  position: absolute;
  inset: 0;
  z-index: 1;
  padding-inline: calc(var(--padding));
  color: var(--color-toggle-contrast);
  pointer-events: none;
  display: flex;
  justify-content: space-between;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
