---
import '@styles';
import { ClientRouter } from 'astro:transitions';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:animate="slide">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="A minimalist blog about Astronomy and Astrophysics built with Astro, React and TypeScript"
    />
    <meta
      name="keywords"
      content="Blog, Astronomy, Astrophysics, Astro, React, TypeScript, Space, Science"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
    <script is:inline>
      function applyTheme() {
        const isDarkMode = localStorage.getItem('ab-dark-mode') === 'true';
        const theme = isDarkMode ? 'dark' : 'light';
        document.documentElement.dataset.theme = theme;
      }

      document.addEventListener('astro:after-swap', applyTheme);
      applyTheme();
    </script>
  </head>
  <body>
    <span></span>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <slot />
    <style>
      /* for native View Transitions
       @view-transition {
        navigation: auto;
      } */

      span {
        position: fixed;
        inset: 0;
        z-index: -20;
        background-image: radial-gradient(
          rgba(var(--color-text-rgb), 0.1) 1px,
          transparent 0
        );
        background-size: 32px 32px;
        mask-image: radial-gradient(
          ellipse 50% 50% at 50% 50%,
          transparent 80%,
          #000 100%
        );
      }

      div {
        position: fixed;
        z-index: -10;
        border-radius: 50%;
        filter: blur(80px);
        rotate: 30deg;

        &:nth-of-type(odd) {
          background-color: hsla(312, 100%, 50%, 0.2);
        }

        &:nth-of-type(even) {
          background-color: hsla(210, 100%, 50%, 0.28);
        }
      }

      div:first-of-type {
        left: 10%;
        top: 24%;
        width: 400px;
        height: 200px;
      }

      div:nth-of-type(2) {
        left: 58%;
        top: 48%;
        width: 450px;
        height: 200px;
      }

      div:nth-of-type(3) {
        right: -15%;
        top: 5%;
        width: 1200px;
        height: 50px;
      }

      div:nth-of-type(4) {
        right: -100px;
        bottom: -100px;
        width: 200px;
        height: 200px;
      }

      div:nth-of-type(5) {
        left: -100px;
        top: -100px;
        width: 200px;
        height: 200px;
      }
    </style>
  </body>
</html>
